name: Build

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      REPOSITORY: ${{ github.repository }}
      PACKAGE_REGISTRY: docker.pkg.github.com
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - name: create docker tag
      run: |
        echo "DOCKER_IMAGE=$(echo $PACKAGE_REGISTRY/$REPOSITORY/webhook)" >> $GITHUB_ENV
        echo "DOCKER_TAG=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV
    - name: test and build
      run: |
        ./gradlew test build
    - name: Build docker image
      run: |
        docker build . -t $DOCKER_IMAGE:$DOCKER_TAG
    - name: push docker image
      run: |
        echo "${{ secrets.GITHUB_TOKEN }}" | docker login --username "$GITHUB_REPOSITORY" --password-stdin https://docker.pkg.github.com
        docker push $DOCKER_IMAGE:$DOCKER_TAG
